@color-text:          #4c4c4c;
@color-main:          #f5f6f6;
@color-secondary:     #ffffff;
@color-link:          #dab33e;
@color-shadow:        rgba(1, 1, 1, 0.64);
@color-shadow--dark:  rgba(0, 0, 0, 0.8);
@color-black:         #000000;
@color-shadow--light: rgba(255, 255, 255, 0.28);
@color-third:         #cc9900;
@color-menu:          #c89f2d;
@color-line:          rgba(200, 159, 45, 0.6);
@color-light:         rgba(255, 255, 255, 0.4);
@color-gray:          #f2f4f4;
@color-text--form:    #c9a131;
@color-gray--light:   #c8c6c6;
@color-text--gray:    #7c7c7c;
@color-footer:        #191919;
@color-line--light:   rgba(255, 255, 255, 0.7);
