.btn {
  padding: 0 50px;
  font-size: 18px;
  line-height: 55px;
  color: @color-secondary;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @color-shadow--dark;
  border: 1px solid @color-black;

  &--white {
    margin-left: 30px;
    background-color: @color-shadow--light;
    border-color: @color-secondary;
  }
}
