.social-link {
  margin-right: 16px;
  font-size: 0;
  text-decoration: none;
  text-align: center;

  &:last-of-type {
    margin-right: 0;
  }
}

.social-link__icon {
  fill: @color-link;
}

.social-link__icon-tw {
  width: 19px;
}

.social-link__icon-yt {
  width: 18px;
}

.social-link__icon-fb {
  width: 10px;
}
